.Container {
  padding: 10px;
}
.Title {
  color: black;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}
.Topic {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
}
.University {
  color: black;
  font-size: 16px;
}
.Date {
  color: gray;
  font-size: 15px;
}
.Location {
  color: gray;
  font-size: 15px;
  padding-bottom: 10px;
}
