.jobWrapper {
  padding: 10px;
}
.sectionTitle {
  color: black;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}
.jobTitle {
  padding-top: 15px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.jobDate {
  color: gray;
  font-size: 15px;
}
.jobLocation {
  color: gray;
  font-size: 15px;
  padding-bottom: 10px;
}
.task {
  color: black;
  font-size: 15px;
  display: flex;
  padding-bottom: 5px;
}
.task::before {
  background-color: black;
  border-radius: 1em;
  content: " ";
  display: inline-block;
  height: 0.35em;
  margin: 7px 7px 0;
  width: 0.35em;
}
